@import "~flexboxgrid/dist/flexboxgrid.css";
@import "~normalize.css/normalize.css";

$color-primary: #0C4D49; // Cyprus
$color-secondary: #FC5851; // Sunset Orange
$color-body: #FBFAF6; // Vista White

$font-display: 'Crimson Text', serif;
$font-display-weight: 400;
$font-body: 'Open Sans', sans-serif;
$font-body-weight: 300;

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  background: $color-body;
  color: $color-primary;
}

section {
  overflow-x: hidden;
}

.no-gutter > [class^="col-"] {
  padding: 0 0;
}

.bg-dark {
  background: $color-primary;
  color: $color-body;
}

h1, h2, h3, h4, h5, h6, .display-title, .display-title-xl {
  font-family: $font-display;
  font-weight: $font-display-weight;
  color: $color-primary;
  word-spacing: -0.125em;

  .bg-dark & {
    color: $color-body;
  }
}

body { font-size: 100%; }
h1 { font-size: 3em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.25em; }
p {
  font-size: 1.125em;
  line-height: 1.5;
}

.display-title-xl {
  font-size: 96px;
  line-height: 120px;
  margin: 0;
}

.display-title {
  font-size: 72px;
  line-height: 100px;
  margin: 0;
}

.display-subtitle {
  font-family: $font-body;
  font-weight: 300;
  font-size: 26px;
  line-height: 44px;
  color: rgba($color-body, 0.75);
}

.navbar {
  background: $color-primary;
  height: 85px;
  padding: 15px 30px;
}

.navbar > .container {
  height: 100%;
  & > .row {
    height: 100%;
  }
}

.box {
  background: $color-secondary;
  color: $color-primary;
  font-size: 1.75rem;
  font-weight: 700;
  padding: 1rem 3rem;
}
